*.iml
.idea/
.tmp
*.o
/trabalhos/trabalho_01/dist/
/trabalhos/trabalho_01/build/

*/**/.dep.inc
*/**/Makefile
*/**/nbproject/
trabalhos/trabalho_01/ED_Trab1_Testes/
/trabalhos/trabalho_02/build/
/trabalhos/trabalho_02/dist/